@model IEnumerable<App.Models.Transaction>

@{
    ViewData["Title"] = "Список транзакций";
}

<h1>Список транзакций</h1>

<p>
    <a asp-action="Create">Создать транзакцию</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>Идентификатор клиента</th>
            <th>Значение</th>
            <th>Дата создания</th>
            <th>Описание</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
}
    </tbody>
</table>
