@model App.Models.Article

@{
    ViewData["Title"] = "Подробный просмотр статьи";
}

<h1>Подробный просмотр статьи</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Название</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">Текст</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">Категория</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">Автор</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>
        <dt class="col-sm-2">Дата создания</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Назад к списку статей</a>
</div>
