@model IEnumerable<App.Models.Article>

@{
    ViewData["Title"] = "Список статей";
}

<h1>Список статей</h1>
<p>
    <a asp-action="Create">Создать статью</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Текст</th>
            <th>Категория</th>
            <th>Автор</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
