@model App.ViewModels.TicketDetailsViewModel

@{
    ViewData["Title"] = "Подробности заявки";
}

<h1>Подробности заявки</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Название</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">Оисание</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">Дата создания</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<h4>История обработки заявки</h4>
<table class="table">
    <thead>
        <tr>
            <th>Ответственный менеджер</th>
            <th>Описание действия</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TicketHistory)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Назад к списку заявок</a>
</div>
