@model IEnumerable<App.Models.Article>

@{
    ViewData["Title"] = "Новости и информация";
}

<h1>Новости и информация</h1>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Категория</th>
            <th>Автор</th>
            <th>Дата публикации</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a>
            </td>
        </tr>
}
    </tbody>
</table>
