@model App.ViewModels.TicketDetailsViewModel

@{
    ViewData["Title"] = "Подробный просмотр заявки";
}

<h1>Подробный просмотр заявки</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            Дата создания
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Автор
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
    </dl>
</div>
<h4>История изменения заявки</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Менеджер
            </th>
            <th>
                Описание
            </th>
            <th>
                Статус
            </th>
            <th>
                Дата изменения
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TicketHistory)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Назад к списку заявок</a>
</div>
